{% extends 'account/account_base.html' %}
{%load static django_bootstrap5 %}

{% block content %}
<h1>ホームです</h1>
<div class="container">
    <form action="", method = "get">
    <p>{{ request.user.last_name }}　{{ request.user.first_name }}</p>
    </form>
    <a href="{% url 'user_information' request.user.pk %}" class="btn btn-outline-primary">ユーザー情報へ</a>
    <a href="{% url 'item_create' %}" class="btn btn-outline-primary">アイテム新規登録</a>
    <a href="{% url 'top' %}" class="btn btn-outline-primary">トップに戻る</a>
    <a href="{% url 'logout' %}" class="btn btn-outline-primary">ログアウトする</a>
</div>


{% endblock content %}
