{% extends 'account/account_base.html' %}
{%load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    <h2>パスワード変更画面</h2>
    <form action="" method="POST">{% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">パスワードを変更</button>
    </form>
</div>
{% endblock content %}
