{% extends 'base.html' %}
{%load static django_bootstrap5 %}

{% block content %}
<h1>トップページです</h1>

<div class="container">
  <h2 class='title'>新規ユーザー登録</h2>
    <form action='' method='POST' enctype="multipart/form-data" novalidate>{% csrf_token %}
      {% bootstrap_form form %}
      <input type='hidden' name='action' value='confirm'>
      <input type="hidden" id="id_personal_image_base64" name="personal_image_base64" />
      {% bootstrap_button button_type="submit" content="登録する" %}
    </form>
    <a href="{% url 'top' %}" class="btn btn-outline-primary" style="margin-top: 10px;" type="submit">トップに戻る</a>
</div>

<script>
  function upload_img() {
    const file = this.files[0];
    const reader = new FileReader();
    const item_image_base64 = document.getElementById('id_personal_image_base64');

    reader.addEventListener("load", function () {
      item_image_base64.value = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  document.getElementById('id_personal_image').addEventListener("change", upload_img);
</script>

{% endblock content %}
