{% extends 'base.html' %}
{%load static django_bootstrap5 humanize　extra_tags %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column flex-lg-row-fluid py-2">
      <div class="d-flex flex-center flex-column flex-column-fluid">
        <div class="w-lg-600px p-10 p-lg-15 mx-auto">
          <form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" action='' method='POST' enctype="multipart/form-data" novalidate>{% csrf_token %} 
            <div class="mb-10 text-center">
              <h1 class="text-dark mb-3">新規アカウント登録、入力内容の確認</h1>
              <div class="text-gray-400 fw-bold fs-4">以下の内容を確認してください 
                <a href="{% url 'signup' %}" class="link-primary fw-bolder">修正される方はこちら</a></div>
            </div>     
            <div class="row fv-row mb-7">
              <div class="fv-row mb-7">
                <label for="{{ form.email.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.email.label_tag }}</label>
                {{ form.email | addcss_signup:"form-control form-control-lg form-control-solid"}}
              </div>
              <div class="mb-10 fv-row" data-kt-password-meter="true">
                <div class="mb-1">
                  <label for="{{ form.password1.id_for_label }}"  class="form-label fw-bolder text-dark fs-6">{{ form.password1.label_tag }}</label>
                  <div class="position-relative mb-3">
                    {{ form.password1 | addcss_signup:"form-control form-control-lg form-control-solid"}}
                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                      <i class="bi bi-eye-slash fs-2"></i>
                      <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="fv-row mb-5">
                <label for="{{ form.password2.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.password2.label_tag }}</label>
                {{ form.password2 | addcss_signup:"form-control form-control-lg form-control-solid"}}
              </div>
              <div class="text-muted">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</div>
              <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
              </div>
            </div>
            <div class="row fv-row mb-7">
    
            <div class="col-xl-6">
              <label for="{{ form.last_name.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.last_name.label_tag }}</label>
              {{ form.last_name | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-6">
              <label for="{{ form.first_name.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.first_name.label_tag }}</label>
              {{ form.first_name | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-6">
              <label for="{{ form.last_kana.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.last_kana.label_tag }}</label>
              {{ form.last_kana | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-6">
              <label for="{{ form.first_kana.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.first_kana.label_tag }}</label>
              {{ form.first_kana | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-6">
              <label for="{{ form.zip_code.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.zip_code.label_tag }}</label>
              {{ form.zip_code | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-6">
              <label for="{{ form.prefecture.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.prefecture.label_tag }}</label>
              {{ form.prefecture | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-8">
              <label for="{{ form.city_name.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.city_name.label_tag }}</label>
              {{ form.city_name | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-4">
              <label for="{{ form.street_name.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.street_name.label_tag }}</label>
              {{ form.street_name | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-12">
              <label for="{{ form.building_name.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.building_name.label_tag }}</label>
              {{ form.building_name | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-12">
              <label for="{{ form.tel.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.tel.label_tag }}</label>
              {{ form.tel | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-12">
              <label for="{{ form.date_of_birth.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.date_of_birth.label_tag }}</label>
              {{ form.date_of_birth | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-12">
              <label for="{{ form.gender.id_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.gender.label_tag }}</label>
              {{ form.gender | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <div class="col-xl-12">
              <label for="{{ form.personal_image_for_label }}" class="form-label fw-bolder text-dark fs-6">{{ form.personal_image.label_tag }}</label>
              {{ form.personal_image | addcss_signup:"form-control form-control-lg form-control-solid"}}
            </div>
            <form action='.' method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                {{ field.as_hidden }}
                {% endfor %}
                <input type='hidden' name='action' value='complete'>
                <input type="hidden" name="personal_image_base64" value="{{ personal_image_base64 }}" />
                <button class="btn btn-lg btn-primary">登録する</button>
            </form>
            <form action='.' method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                {{ field.as_hidden }}
                {% endfor %}
                <input type='hidden' name='action' value='input'>
                <button class="btn btn-lg btn-primary" style="margin-top: 10px;">入力ページに戻る</button>
            </form>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}


<p>メールアドレス</p>{{ form.email.value }}
    <p>パスワード</p>{{ form.password1.value }}
    <p>パスワード確認</p>{{ form.password2.value }}
    <p>姓</p>{{ form.last_name.value }}
    <p>名</p>{{ form.first_name.value }}
    <p>姓(カナ)</p>{{ form.last_kana.value }}
    <p>名(カナ)</p>{{ form.first_kana.value }}
    <p>住所</p>{{form.zip_code.value}}{{ form.instance.get_prefecture_display }}{{ form.city_name.value }}{{ form.street_name.value }}{{ form.building_name.value }}
    <p>電話番号</p>{{ form.tel.value }}
    <p>生年月日</p>{{ form.date_of_birth.value }}
    <p>性別</p>{{ form.instance.get_gender_display }}
    <p>アイテム画像</p>
    <img src="{{ persoanl_image_base64 }}" style="max-width: 300px;" />
    {{ form.personal_image.value }}
    {% if form.personal_image.value == None %}
    <img src="#" class="figure-img img-fluid rounded text_center" style="max-width: 300px;">
    {% endif %}
