{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    <div class="accordion-item">
        <h2 class="accordion-header" id="kt_accordion_1_header_1">
            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
            クローゼットの設定</button>
        </h2>
        <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
            <div class="accordion-body">
                クローゼットを登録してバーチャルなタンスを作成してアイテムを管理しましょう。一つのクローゼットには30件のアイテムを登録できます。
                <a href="{% url 'closet_create' %}" class="btn btn-primary">クローゼットの管理画面</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="kt_accordion_2_header_2">
            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_2_body_2" aria-expanded="true" aria-controls="kt_accordion_2_body_2">
            アイテム種類の新規設定</button>
        </h2>
        <div id="kt_accordion_2_body_2" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_2">
            <div class="accordion-body">
                「ジャケット」、「ズボン」、「上着」、「パーカー」などの分類を事前登録することでアイテム登録がしやすくなり、データ分析の精度も上がります。<br>
                    アイテム種類の登録は最大15件まで可能です。
                    <a href="{% url 'item_type_create' %}" class="btn btn-primary">アイテム種類の管理画面</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="kt_accordion_3_header_3">
            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_3_body_3" aria-expanded="true" aria-controls="kt_accordion_3_body_3">
            アイテムカラーの新規設定</button>
        </h2>
        <div id="kt_accordion_3_body_3" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_3_header_3" data-bs-parent="#kt_accordion_3">
            <div class="accordion-body">
                「赤」、「青」、「黒」、「白」などお気に入りの色を登録してアイテム登録の効率をあげましょう。
                <a href="{% url 'item_color_create' %}" class="btn btn-primary">アイテムカラーの管理画面</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="kt_accordion_4_header_4">
            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_4_body_4" aria-expanded="true" aria-controls="kt_accordion_4_body_4">
            ブランドの新規設定</button>
        </h2>
        <div id="kt_accordion_4_body_4" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_4_header_4" data-bs-parent="#kt_accordion_4">
            <div class="accordion-body">
                お気に入りのブランド、よく購入するブランドを登録しましょう。
                <a href="{% url 'item_brand_create' %}" class="btn btn-primary">ブランドの管理画面</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="kt_accordion_5_header_5">
            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_5_body_5" aria-expanded="true" aria-controls="kt_accordion_5_body_5">
            購入場所の新規登録
        </button>
        </h2>
        <div id="kt_accordion_5_body_5" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_5_header_5" data-bs-parent="#kt_accordion_5">
            <div class="accordion-body">
            よく利用する購入場所を登録しておきましょう。
            <a href="{% url 'purchase_place_create' %}" class="btn btn-primary">購入場所の管理画面</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
