{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    {{ form.errors }}
    <form action='' method='POST'>{% csrf_token %}
        <legend>購入場所を登録</legend>
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="新しい購入場所を登録する" %}
    </form>
</div>
<div class="container">
    {% if purchase_place_list %}
    <p>以下の購入場所が登録されています。{{ purchase_place_list.count }}件/15件</p>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>購入場所</th>
                <th>設定日</th>
            </tr>
        </thead>
        <tbody>
            {% for field in purchase_place_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ field.purchase_place }}</td>
                <td>{{ field.create_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>購入場所は登録されていません</p>
    {% endif %}
    <a href="{% url 'item_category_gate' %}" class="btn btn-md btn-info space_top" type="submit">前ページに戻る</a>
    <a href="{% url 'home' %}" class="btn btn-md btn-info space_top" type="submit">ホームに戻る</a>
</div>
{% endblock content %}