{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    {{ form.errors }}
    <form action='' method='POST'>{% csrf_token %}
        <legend>購入場所を登録</legend>
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="新しい購入場所を登録する" %}
    </form>
</div>
<div class="container">
    {% if purchase_place_list %}
    <h4 style="margin-top: 10px;">以下の購入場所が登録されています。{{ purchase_place_list.count }}件/15件</h4>
    <table class="table table-rounded table-striped border gy-3 gs-3">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                <th>No.</th>
                <th>購入場所</th>
                <th>設定日</th>
                <th>編集する</th>
                <th>削除する</th>
            </tr>
        </thead>
        <tbody>
            {% for field in purchase_place_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ field.purchase_place }}</td>
                <td>{{ field.create_date }}</td>
                <td><a href="{% url 'purchase_place_update' field.pk %}" class="btn btn-sm btn-primary" type="submit">編集する</a></td>
                <td><a href="{% url 'purchase_place_delete' field.pk %}" class="btn btn-sm btn-primary" type="submit">削除する</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>購入場所は登録されていません</p>
    {% endif %}
    <a href="{% url 'item_category_gate' %}" class="btn btn-md btn-primary" type="submit">前ページに戻る</a>
</div>
{% endblock content %}