{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}


{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title fs-3 fw-bolder">{{ object_item.item_name }}</div>
        </div>
        <div class="card-body p-9">
        <div class="row mb-5">
            <div class="col-xl-3">
                <div class="fs-6 fw-bold mt-2 mb-3">アイテム画像</div>
                    {% if object_item.item_image %}
                    <img src="{{ object_item.item_image.url }}" style="max-width: 300px;" alt="アイテム画像表示エラー"/>
                    {{ object_item.item_image.value }}
                    {% else %}
                    <img src="{% static 'static_images/Blank_image.jpeg' %}" class="figure-img img-fluid rounded text_center" style="max-width: 300px;">
                    {% endif %}
            </div>
            <div class="row mb-2">
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">アイテム種類</p>
                    <p class="form-control form-control-solid">{{ object_item.item_type }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">季節</p>
                    <p class="form-control form-control-solid">{{ object_item.get_season_display }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">シーン</p>
                    <p class="form-control form-control-solid">{{ object_item.get_occasion_display }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">アイテムカラー</p>
                    <p class="form-control form-control-solid">{{ object_item.item_color }}</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">ブランド</p>
                    <p class="form-control form-control-solid">{{ object_item.item_brand }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">購入場所</p>
                    <p class="form-control form-control-solid">{{ object_item.purchase_place }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">購入日</p>
                    <p class="form-control form-control-solid">{{ object_item.purchase_date | date:"Y年m月d日(D)" }}</p>
                </div>
                <div class="col-xl-3">
                    <p class="fs-6 fw-bold mt-2 mb-3">購入価格</p>
                    <p class="form-control form-control-solid">{{ object_item.pricing | intcomma}}円</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-xl-6">
                    <p class="fs-6 fw-bold mt-2 mb-3">お気に入り度</p>
                    <p class="form-control form-control-solid">{{ object_item.get_favorite_level_display }}</p>
                </div>
                <div class="col-xl-6">
                    <p class="fs-6 fw-bold mt-2 mb-3">大事さ</p>
                    <p class="form-control form-control-solid">{{ object_item.get_item_importance_display }}</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-xl-12">
                    <p class="fs-6 fw-bold mt-2 mb-3">メモ</p>
                    <p class="form-control form-control-solid">{{ object_item.memo }}</p>
                </div>
            </div> 
            <div class="row mb-2" style="text-align: center;">
                <div class="col-xl-4">
                    <a href="{% url 'item_list' %}" type="submit" class="btn btn-primary">一覧に戻る</a>
                </div>
                <div class="col-xl-4">
                    <a href="{% url 'item_update' object_item.pk %}" type="submit" class="btn btn-primary">アイテムを編集する</a>
                </div>
                <div class="col-xl-4">
                    <a href="{% url 'item_delete' object_item.pk %}" type="submit" class="btn btn-danger">アイテムを削除する</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
