{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    {{ form.errors }}
    <form action='' method='POST'>{% csrf_token %}
        <legend>クローゼット登録</legend>
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="クローゼット名を登録する" %}
    </form>
</div>
<div class="container">
    {% if closet_list %}
    <h4 style="margin-top: 10px;">以下のクローゼットが作成されています。{{ closet_list.count }}件/30件</h4>
    <table class="table table-rounded table-striped border gy-3 gs-3">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                <th>No.</th>
                <th>クローゼット名</th>
                <th>設定日</th>
                <th>クローゼットの中を見る</th>
                <th>編集する</th>
                <th>削除する</th>
            </tr>
        </thead>
        <tbody>
            {% for field in closet_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ field.closet_name }}</td>
                <td>{{ field.create_date | date:"Y年m月d日(D)" }}</td>
                <td><a href="{% url 'item_list' %}?closet={{ item.pk }}" button class="btn btn-sm btn-primary" type="submit">クローゼットの中をみる</a></td>
                <td><a href="{% url 'closet_update' field.pk %}" class="btn btn-sm btn-primary" type="submit">編集する</a></td>
                <td><a href="{% url 'closet_delete' field.pk %}" class="btn btn-sm btn-primary" type="submit">削除する</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>クローゼットが設定されていません</p>
    {% endif %}
    <a href="{% url 'item_category_gate' %}" class="btn btn-md btn-primary" type="submit">前ページに戻る</a>
</div>
{% endblock content %}