{% extends 'contents/contents_base.html' %}
{% load static django_bootstrap5 humanize %}

{% block content %}
<div class="container">
    <form action='' method="POST">
        {% csrf_token %}
        <legend class="text_center space_top">指定したアイテムを削除しました。</legend>
    </form>
    <a href="{% url 'item_list' %}" class="btn btn-md btn-primary space_bottom" type="submit">アイテム一覧に戻る</a><br>
    <a href="{% url 'home' %}" class="btn btn-md btn-info" type="submit">ホームに戻る</a>
</div>
{% endblock content %}